@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');

:root {
  --color-primary: #3500d3;
  --font-family: 'Russo One', sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: url('./../assets/img/bck.svg');
  min-height: 100vh;
}

#root {
  position: relative;
}